$def with (submitted, result, action, feeds, posts, name = '', link = '')
 
 <div>
     <div style="float:right">
     <ul> 
           <li><a href="/admin">Main admin</a></li>
           <li><a href="/admin/content">Content discovery</a></li>
           <li><a class="toggle" href="#">Manage Feeds</a></li>
           <li><a href="/admin/content?action=start_downloadfeeds">Download Feeds entries</a></li>
     </ul>
     <br/>
    </div>
    <div>
    $if result:
        <div id="admin_message_box" $:(submitted and 'class="admin_message_OK"' or 'class="admin_message_KO"')>
         <p>RESULT: $action</p>
         <ul>
         $for key in result.keys():
             <li> $("%s - %s" % (key, result[key]))</li>
         </ul>
        </div>
    <br>
    <div class="totoggle" style="display: none">    
    <form action = "/admin/content" method="POST" enctype="multipart/form-data"> 
        <input type="hidden" id="action" name="action" value="newfeed"/>
        <p>name: <span class="required">*</span><br><input type="text" size="100" name="name" value="$name"/></p>
        <p>link: <span class="required">*</span><br> <input type="text" size="100" id = "link" name="link" value="$link"/></p>
        <p><input type="submit" value="Submit"/></p>
   </form>
   Feeds
   <ul> 
       $for feed in feeds:
          <li><a href="$feed.link">$feed.name</a></li>
   </ul>
   </div>
   <hr>
   <table>
   $for post in posts:
        <tr id="$post.key()" class="$loop.parity">
          <td>$(post.created.strftime("%Y-%m-%d %H:%M:%S"))</a></td>  
          <td>$(post.feed.name)</a></td>    
          <td><a target="_blank" href="$(post.link)">$(post.title)</a></td>
          <td><a href="#" onclick="feeditemRemove('$post.key()')" >Remove</a></td> 
        </tr>
   <table>
   </div>
        
                            
 </div>
