$def with (submitted, result, action, title = '', link = '', description = '', tags = [], category = '', img_path ='', url_img ='', body = '', post_id ='', featured = False)
 
 <div>
     <div style="float:right">
     <ul>  <li><a href="$settings.ADMIN_BOOKMARKLET">Bookmarklet</a></li>
           <li><a href="/admin?action=memcachestats">Memcache stats </a></li>
           <li><a href="/admin?action=memcacheflush">Memcache flush </a></li>
           <li><a href="/admin/content">Content discovery </a></li>
     </ul>
     <ul>
          $if post_id:
             <li><a href="/admin?action=deletepost&amp;post_id=$(post_id)">Delete this post</a></li>
      </ul>     
    </div>
    <div>
    $if result:
        <div id="admin_message_box" $:(submitted and 'class="admin_message_OK"' or 'class="admin_message_KO"')>
         <p>RESULT: $action</p>
         <ul>
         $for key in result.keys():
             <li> $("%s - %s" % (key, result[key]))</li>
         </ul>
        </div>    
    <form action = "/admin" method="POST" enctype="multipart/form-data"> 
     <input type="hidden" name="post_id" value="$post_id"/>
     $if post_id: 
        <input type="hidden" id="action" name="action" value="editpost"/>
     $else:
        <input type="hidden" id="action" name="action" value="newpost"/>
     <p>title: <span class="required">*</span><br><input type="text" size="100" name="title" value="$title"/></p>
     <p>link: <br> <input type="text" size="100" id = "link" name="link" value="$link"/> <span id="link_check"/></p>
     <p>description :<br><input type="text" size="150" name="description" maxlenght="500" value="$description"/></p>
     <p>tags:<br><input type="text" id="tags" name="tags" size="100" value = "$' '.join(tags)"/> </p>
     <p>featured:<br><input type="checkbox" id="featured" name="featured" $:(featured and 'checked="checked"')/> </p>
     $if settings.CATEGORIES:
         <p>categories:<br>
         <select name="category">
             $for category_tmp in settings.CATEGORIES:
                <option $:(category_tmp==category and 'selected="selected"')  value="$category_tmp">$category_tmp</option>
         </select>
     <p>img:<br><input type="file" size="100" name="img"/></p>
     <p>
     $if img_path:
        <img src="$img_path" width="$settings.THUMBNAIL_WIDTH" height="$settings.THUMBNAIL_HEIGHT" title="$category" alt="Image"/><br>
        delete image:<br><input type="checkbox" name="delete_img">    
     </p>
     <p>
         url_img:<br><input type="text" size="100" name="url_img" value="$url_img"/>
     </p>
     
     <p>body :<br>
         <div>
             <textarea id="post_body" name="body" cols="80" rows="20">$body</textarea>
         </div>
     </p>
     <p><input type="submit" value="Submit"/></p>
   </form>
   </div>
        
                            
 </div>
