$def with (result, title = '', link = '', description = '', tags = [], category = '', img_path ='', body = '', post_id ='', featured = False)
 <div>
     <p>ADMIN CONSOLE</p>
     <ul>  <li><a href="javascript:(function(){var s=window.document.createElement('script');s.setAttribute('src','http://code.jquery.com/jquery-latest.min.js');window.document.body.appendChild(s);f='http://$(settings.HOST)/admin?action=newpost_init&link='+encodeURIComponent(window.location.href)+'&tags='+encodeURIComponent(jQuery.map(jQuery('.post-taglist a,#eow-tags a,.post-info a').not('#edit-tags'),function(x){return encodeURIComponent(x.text)}).join(' '))+'&title='+encodeURIComponent(document.title)+'&description='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&';a=function(){location.href=f};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()">Bookmarklet</a></li>
           <li><a href="/admin?action=memcachestats">Memcache stats </a></li>
           <li><a href="/admin?action=memcacheflush">Memcache flush </a></li>
           <li><a href="/admin?action=start_import">Import </a></li>
           
     </ul>
     <p><b>Result:</b></p>
      $for key in result.keys():
          * $("%s - %s" % (key, result[key]))<br>
     <ul>
         <li>Post:<br>
             <form action = "/admin" method="POST" enctype="multipart/form-data"> 
             $if post_id: 
                <input type="hidden" name="action" value="editpost"/>
                <p>Id: $post_id</p>
             $else:
                <input type="hidden" name="action" value="newpost"/>
             <input type="hidden" name="post_id" value="$post_id"/>
             <p>title:<br><input type="text" size="100" name="title" value="$title"/></p>
             <p>link:<br> <input type="text" size="100" id = "link" name="link" value="$link"/> <span id="link_check"/></p>
             <p>description :<br><input type="text" size="150" name="description" maxlenght="500" value="$description"/></p>
             <p>tags:<br><input type="text" id="tags" name="tags" size="100" value = "$' '.join(tags)"/> </p>
             <p>featured:<br><input type="checkbox" id="featured" name="featured" $:(featured and 'checked="checked"')/> </p>
             $if settings.CATEGORIES:
                 <p>categories:<br>
                 <select name="category">
                     $for category_tmp in settings.CATEGORIES:
                        <option $:(category_tmp==category and 'selected="selected"')  value="$category_tmp">$category_tmp</option>
                 </select>
             <p>img:<input type="file" size="100" name="img"/>
             $if img_path:
                <img src="$img_path" width="$settings.THUMBNAIL_WIDTH" height="$settings.THUMBNAIL_HEIGHT" title="$category" alt="Image"/><br>
                delete image:<input type="checkbox" name="delete_img">    
                
             </p>
             <p>
                 url_img:<input type="text" size="100" name="url_img"/>
             </p>
             
             <p>body :<br>
                 <div>
                     <textarea id="post_body" name="body" cols="80" rows="20">$body</textarea>
                 </div>
             </p>
             <p><input type="submit" value="Submit"/></p>
           </form>
         </li>
         
         $if post_id:
             <li>Delete:
                <form action = "/admin" method="POST"> 
                    <input type="hidden" name="action" value="deletepost"/>
                    <input type="hidden" name="post_id" value="$post_id"/>
                    <p><input type="submit" value="Delete"/></p>
                </form>
            </il>
     </ul>
                            
 </div>
