$def with (posts, is_user_admin = False)
<div>      
      <table class="result" style="margin-top:40px">          
      $for post in posts:
            <tr>
                  <td>
                    <div style="overflow: hidden;">
                    <div style="float:left;width:90%">
                        <p>$post.created.strftime(settings.DATE_FORMAT)
                        $if is_user_admin:
                            <a href="/admin?action=editpost_init&amp;post_id=$post.key()"><img src="/images/edit.png" title="Edit" alt="Edit"/></a>
                        $if post.is_featured():
                            <a href="/$i18ns['ROUTE_FEATURED']"><img src="/images/featured.png" title="$i18ns['TITLE_FEATURED']" alt="$i18ns['TITLE_FEATURED']"/></a>
                        | <a style="font-size:90%" href="/$i18ns['ROUTE_POST']/$post.get_path()">$i18ns['DETAILS']</a>
                        </p>
                        <p>
                        $if post.link:
                            <span class="main_link"><a href="/$i18ns['ROUTE_POST']/$post.get_path()">$(post.title)</a></span>
                        $else:
                            <span class="main_title">$(post.title)</span>
                        </p>
                        $if settings.ADSENSE_ID and loop.index<=2:
                                   <script type="text/javascript"><!--
                                   google_ad_client = "$settings.ADSENSE_ID";
                                   /* 468x60, created 9/11/11 */
                                   google_ad_slot = "9166906893";
                                   google_ad_width = 468;
                                   google_ad_height = 60;
                                   //-->
                                   </script>
                                   <script type="text/javascript"
                                   src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                                   </script>
                        <p><a target="_blank" href="$(post.link)">$(post.link)</a></p>
                        <p>$(post.description)</p>
                    </div>
                    <div style="float:right">
                        <p style="text-align:right;">
                            <img src="$post.get_image_path()" width="$settings.THUMBNAIL_WIDTH" height="$settings.THUMBNAIL_HEIGHT" title="$post.category" alt="$post.category"/>
                        </p>
                    </div>
                    
                    </div>
                    <div class="meta">
                        $if settings.CATEGORIES:
                            <span>
                                <a class="category" href="/?category=$(post.category)">$(post.category)&nbsp;<img width="17px" height="17px" src="$(utils.get_predefined_image_link(category = post.category))"/></a>
                            </span>
                        <span class="tags">
                            $for tag in post.tags:
                                <a class="tag" href="/tag/$tag">$(tag)</a> 
                        </span>
                    </div>
                  </td>
             </tr>
             $if loop.last:
                    </table>
                    <table class="pagination">
                        <tr>
                            <td class="pagination_found">$i18ns['POSTS']: $commify(len(posts))</td>
                        </tr>
                    </table>
        $else:
            $if len(posts) == 0:
                <tr>
                    <td>
                   <p id="not_found">
                       $i18ns['POST_NOT_FOUND_ERROR']
                    </p>
                    </td>
                </tr>
                </table>
        

 </div>
