$def with (posts, selected_tags = [], selected_category = '', pagination = None, is_user_admin = False)
$def render_catqs(selected_category, front_char):
    $if selected_category : $:(front_char)category=$selected_category

<div id="box_tags">
     <form action = "/tag/$urlquote('/'.join(selected_tags))" method="post">  
       <p>
       <b>Tags:</b>
       $for tag in selected_tags:
           <a class="tag dark" href="/tag/$urlquote('/'.join(selected_tags))?removetag=$urlquote(tag)$(render_catqs(selected_category,"&"))">$tag x</a>&raquo;
       <input id="search" type="text" size="35" name="addtag"/>
       </p>
       $if settings.CATEGORIES:
           <div>
            <ul id="category_list">
            <li>
              <label $:(selected_category == '' and 'id="selected_category"' or "") for="All">
              <input type="radio" id="All" name="category" $:(selected_category == '' and 'checked="checked"' or "") value="" onclick="this.form.submit()" />
              All</label>
            </li>
              $for category in settings.CATEGORIES:
                  <li>
                  <label $:(selected_category != "" and category == selected_category and 'id="selected_category"' or "") for="$category">
                  <input type="radio" name="category" id="$category" value="$category" $:(selected_category != "" and category == selected_category and 'checked="checked"' or "") onclick="this.form.action= this.form.action+'?category=' + this.value; this.form.submit();"/>
                  $category</label>
                  </li>              
            </ul>
            </div>
     </form>
</div>
<div>      
      <table class="result">          
      $for post in posts:
            <tr>
                  <td>
                    <div style="overflow: hidden;">
                    <div style="float:left;width:90%">
                        <p>$post.created.strftime("%d %B, %Y")
                        $if is_user_admin:
                            <a href="/admin?action=editpost_init&amp;post_id=$post.key()"><img src="/images/edit.png" title="Edit" alt="Edit"/></a>
                        $if post.is_featured():
                          <a href="/featured"><img src="/images/featured.png" title="Featured" alt="Featured"/></a>
                        | <a style="font-size:90%" href="/post/$post.get_path()">DETAILS</a>
                        </p>
                        <p>
                        $if post.link:
                            <span class="main_link"><a href="/post/$post.get_path()">$(post.title)</a></span>
                        $else:
                            <span class="main_title">$(post.title)</span>
                        </p>
                         $if settings.ADSENSE_ID and loop.index==1:
                                   <div id="adsense" style="margin-bottom:10px">
                                         <script type="text/javascript"><!--
                                         google_ad_client = "$settings.ADSENSE_ID";
                                         /* 728x90, created 9/8/11 */
                                         google_ad_slot = "2341185460";
                                         google_ad_width = 728;
                                         google_ad_height = 90;
                                         //-->
                                         </script>
                                         <script type="text/javascript"
                                         src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                                         </script>
                                     </div>                                     
                        $if settings.ADSENSE_ID and loop.index==2:
                                     <div id="adsense" style="margin-bottom:10px">
                                     <script type="text/javascript"><!--
                                        google_ad_client = "$settings.ADSENSE_ID";
                                        /* 468x60, created 9/11/11 */
                                        google_ad_slot = "9166906893";
                                        google_ad_width = 468;
                                        google_ad_height = 60;
                                        //-->
                                        </script>
                                        <script type="text/javascript"
                                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                                        </script> 
                                     </div>
                        <p><a target="_blank" rel="nofollow" href="$(post.link)">$(post.link)</a></p>
                        <p>$(post.description)</p>
                    </div>
                    <div style="float:right">
                        <p style="text-align:right;">
                            <img src="$post.get_image_path()" width="$settings.THUMBNAIL_WIDTH" height="$settings.THUMBNAIL_HEIGHT" title="$post.category" alt="$post.category"/>
                        </p>
                    </div>
                    
                    </div>
                    <div class="meta">
                        $if settings.CATEGORIES:
                            <span>
                                <a class="category" href="/?category=$(post.category)">$(post.category)&nbsp;<img alt="$(post.category)" width="17px" height="17px" src="$(utils.get_predefined_image_link(category = post.category))"/></a>
                            </span>
                        <span class="tags">
                            $for tag in post.tags:
                                  $if tag in selected_tags:
                                      <a class="tag dark" href="/tag/$urlquote('/'.join(selected_tags))$(render_catqs(selected_category,"?"))">$(tag)</a>
                                  $else:
                                      <a class="tag" href="/tag/$(urlquote('/'.join(selected_tags))+('/' if len(selected_tags) >= 1 else '')+urlquote(tag))$(render_catqs(selected_category,"?"))">$(tag)</a>
                        </span>
                    </div>
                  </td>
             </tr>
             $if loop.last:
                    </table>
                    <table class="pagination">
                        <tr>
                            <td class="pagination_page">
                                $if pagination.has_previous_entries():
                        	        <a href="?page=$(pagination.page-1)$(render_catqs(selected_category,"&"))">&laquo; prev&nbsp;&nbsp;</a>
                                [ $pagination.page ]
                                $if pagination.has_more_entries():
                        	           <a href="?page=$(pagination.page+1)$(render_catqs(selected_category,"&"))">&nbsp;&nbsp;next &raquo;</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="pagination_found">Posts: $commify(pagination.total)</td>
                        </tr>
                    </table>
        $else:
            $if len(posts) == 0:
                <tr>
                    <td>
                   <p id="not_found">
                       No posts found
                    </p>
                    </td>
                </tr>
                </table>
        

 </div>
