$def with (content, title = None , tag_cloud = [], categories = [], navbar = True, posts_total_count = 0, user = None, is_user_admin = False, login_url = '', logout_url = '')
$ max_occurrencies =  tag_cloud[0].counter if len(tag_cloud)>0 else 1
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
    <link rel="alternate" type="application/atom+xml" href="/index.xml" />
    <meta http-equiv="content-type" content="$settings.HTML_MIME_TYPE"/>
    <meta name="description" content="$(settings.META_DESCRIPTION)"/>
    <meta name="keywords" content="$settings.META_KEYWORDS"/>
    <title> $(title) - $settings.CMS_NAME</title> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.autocomplete.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/uniform.default.css"/>
    <link rel="stylesheet" type="text/css" href="/javascripts/markitup/skins/markitup/style.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/markitup/sets/markdown/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.stacktack.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.uniform.min.js" ></script>
    <script type="text/javascript" src="/javascripts/typewatch.js" ></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/javascripts/markitup/sets/markdown/set.js"></script>
    <!-- markItUp! skin -->
    
    
    
</head>
<body>
<div id="header">
    <span id="login">
        $if user:
            $user | <span class="login"><a href="$logout_url">logout</a></span>
        $else:
            <span class="login"><a href="$login_url">login</a></span>
    </span>
    <h1>$settings.CMS_NAME <img src="/images/lab.png" alt="Lab"/></h1>
    <h2>$(settings.SLOGAN)</h2>
    <ul>
        <li><a href="/" $:(title=='Home' and 'class="active"' or '')>Home</a></li>
        <li><a href="/featured" $:(title=='Featured' and 'class="active"' or '')>Featured</a></li>
        <li><a href="/post" $:((title not in ('Home','Tag cloud','Featured','About','Admin')) and 'class="active"' or '')>Posts</a></li>
        <li><a href="/tagcloud" $:(title=='Tag cloud' and 'class="active"' or '')>Tag cloud</a></li>
        <li><a href="/about" $:(title=='About' and 'class="active"' or '')>About</a></li>
        $if is_user_admin:
            <li><a href="/admin" $:(title=='Admin' and 'class="active"' or '')>Admin</a></li>
    </ul>
        
        <form id="form" action="/search" method="get">
          <p id="layoutdims">  
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="hidden" name="cref" value="$(settings.HOST)/cse.xml" />
            <input type="hidden" name="cof" value="FORID:11" />
        	<input id="search_box" name="q" tabindex="1" onfocus="if (this.value=='search') this.value = ''" type="text" maxlength="140" size="32" value="search"/>
            </p>
        </form>
        
    
</div>
$if navbar:
    <div class="colmask rightmenu">
        <div class="colleft">
            <div class="col1">
                $:content
            </div>    
            <div class="col2">
                <div id="logo">
                    <a href="http://code.google.com/appengine/">
                        <img src="/images/google-app-engine.png" width="100" height="100" alt="Google App Engine" />
                    </a>
                </div>
                <div>
                    $:safemarkdown(settings.DESCRIPTION)
                </div>
                <p>Posts: <span class="summarycount">$commify(posts_total_count)</span></p> 
                $if settings.CATEGORIES:
                    <h2>Categories</h2>
                    <ul>
                    $for category in categories:
                        <li><a href="/?category=$category.name">$category.name</a><span class="counter">($commify(category.counter))</span></li>
                    </ul>
                <h2>Tags</h2>
                <p>
                    $for tag in tag_cloud:
                            <span class="tag_info"><a class="tag_cloud_nav_$utils.get_tag_weight(tag.counter,max_occurrencies)" href="/tag/$(tag.name)">$(tag.name)</a><span class="counter">($commify(tag.counter))</span>&nbsp;</span>

                    $if len(tag_cloud)>=settings.NAVBAR_CLOUDSIZE:
                        <br/><span class="more_tag"><a  href="/tagcloud">more »</a></span>
                </p>
                <div id="img" style="margin-top:10px">
                    <p style="text-align:center">
                    <a href="/submit?action=submit_init"><img onmouseout="this.src='/images/submitlink.png';" onmouseover="this.src='/images/submitlink_hover.png'" src="/images/submitlink.png" alt="Submit a link"/></a>
                    </p>
                    <p>
                    <a href="/feed/index.rss"><img width="45" height="45" src="/images/rss.png" alt="Rss"/></a>
                    </p>
                    <p>
                    <a href="http://webpy.org"><img width="80" height="30" src="/images/webpy.jpg" alt="Webpy"/></a>
                    </p>
                    <p>
                    <a href="http://code.google.com/appengine/"><img width="100" height="30" src="/images/appengine.png" alt="Appengine"/></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
$else:
    <div class="colmask fullpage">
        <div class="col1">
            $:content
        </div>
    </div>
    
<div id="footer">
    <p>© $settings.AUTHOR_NAME | Powered by Google App Engine | BucketHandle v. $settings.VERSION</p>
</div>

$if settings.ANALYTICS_ID and not development and not admin:
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("$settings.ANALYTICS_ID");
  pageTracker._trackPageview();
  } catch(err) {}</script>

$if settings.CLICKY_ID and not development and not admin:
  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">clicky.init($settings.CLICKY_ID);</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/$(settings.CLICKY_ID)ns.gif" /></p></noscript>



</body>
</html>
