$def with (post, prev_post = None, next_post = None, content_discovered = '')

 <div>
      <p>
          <table class="pagination">
              <tr>
                  <td class="pagination_page" style="text-align:left">
                      $if prev_post:
              	        <a href="/post/$prev_post.get_path()">&laquo; prev</a>
                      $if next_post:
              	           &nbsp;<a href="/post/$next_post.get_path()">next &raquo;</a>
                  </td>
              </tr>
          </table>
      </p>
      <div>
          <div style="margin-top:20px;text-align:center;font-size:140%;font-weight:bold">
          <p>$(post.title)</p>
              <div style="float:right;">
                <img src="$post.get_image_path()" width="$settings.THUMBNAIL_WIDTH" height="$settings.THUMBNAIL_HEIGHT" alt="Image"/>
              </div>
          </div>
          <p>$post.created.strftime("%m %B, %Y")
              $if admin:
                  <a href="/admin?action=editpost_init&amp;post_id=$post.key()"><img src="/images/edit.png" title="Edit" alt="Edit"/></a>
          </p>
          <p>
              $if settings.CATEGORIES:
                    <a class="category" href="/?category=$(post.category)">$(post.category)</a>
              $for tag in post.tags:
                    <a class="tag" href="/tag/$tag">$(tag)</a> 
          </p>
          <p><a href="$(post.link)">$(post.link)</a></p>
          <p>$(post.description)</p>
      </div>
      <div>
          $:safemarkdown(post.body)
      </div>
      <div>
          $:content_discovered
      </div>
      <hr>
 </div>
 <div>
 $if settings.DISQUS and False:
     <h3 id="comments">Comments</h3>
     <div id="disqus_thread"></div>
     $if development:
       <script type="text/javascript">
         var disqus_developer = 1;
       </script>
     <script type="text/javascript" src="http://disqus.com/forums/$(DISQUS)/embed.js"></script>
     <noscript><a href="http://disqus.com/forums/$(DISQUS)/?url=ref">View the discussion thread.</a></noscript>
     <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
 </div>   
